<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <h1><a routerLink="/" routerLinkActive="active">Kalorific</a></h1>
  </span>
  <span *ngIf="isLoggedIn">
    <span>Welcome {{firstName}} {{lastName}} </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <a routerLink="/dietPlanForm" routerLinkActive="active">
          <mat-icon>done</mat-icon>
          <span>Diet Goal</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/mealPlanForm" routerLinkActive="active">
          <mat-icon>room_service</mat-icon>
          <span>Meal Plans</span>
        </a>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="recipes">Recipes</button>
    </mat-menu>

    <mat-menu #recipes="matMenu">
      <button mat-menu-item>
        <a routerLink="/newRecipe" routerLinkActive="active">
          <mat-icon>note_add</mat-icon>
          <span>New Recipe</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/listRecipe" routerLinkActive="active">
          <mat-icon>list</mat-icon>
          <span>List Recipe</span>
        </a>
      </button>
    </mat-menu>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <a routerLink="/logout" routerLinkActive="active">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
