<mat-card>
    <mat-card-title>
      {{actionBanner}} Diet Planner
    </mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #dietPlanForm="ngForm">
        <table>
          <tr>
            <td><label>Current Weight</label></td>
            <td>
              <mat-form-field>
                <input matInput type="number" id="currentWeight" name="currentWeight" [(ngModel)]="currentWeight">
                <mat-hint>Weight in pounds</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><label>Target Weight</label></td>
            <td>
              <mat-form-field>
                <input matInput type="number" id="targetWeight" name="targetWeight" [(ngModel)]="targetWeight">
                <mat-hint>Weight in pounds</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><label>Preferred Diet</label></td>
            <td>
              <mat-form-field>
                <mat-select id="preferredDiet" name="preferredDiet" [(ngModel)]="preferredDiet" placeholder="Select diet">
                  <mat-option value="LV">Lacto Vegetarian</mat-option>
                  <mat-option value="OLV">Ovo-lacto Vegetarian</mat-option>
                  <mat-option value="V">Vegan</mat-option>
                  <mat-option value="K">Keto</mat-option>
                  <mat-option value="NV">Non Vegetarian</mat-option>
                  <mat-option value="SV">Semi Vegetarian</mat-option>
                  <mat-option value="PB">Plant Based</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><label>Preferred Meals</label></td>
            <td>
              <table>
                <tr>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('BRF')">Breakfast</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('BRN')">Brunch</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('ELV')">Elevenses</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('LNC')">Lunch</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('TEA')">Tea</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('SUP')">Supper</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox (click)="addPreferredMeal('DNR')">Dinner</mat-checkbox>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><label>Target Date</label></td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="targetDatePicker" placeholder="Choose a date" name="targetDate" id="targetDate" [(ngModel)]="targetDate">
                <mat-datepicker-toggle matSuffix [for]="targetDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #targetDatePicker></mat-datepicker>
                <mat-hint>Date by which goal to be achieved</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><label>Allergens</label></td>
            <td>
              <table>
                <tr>
                  <td>
                    <mat-checkbox (click)="addAllergen('MLK')">Milk</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addAllergen('EGG')">Eggs</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addAllergen('FSH')">Fish</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox (click)="addAllergen('SFH')">Shell fish</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addAllergen('TNU')">Treenuts</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addAllergen('PNT')">Peanuts</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox (click)="addAllergen('WHT')">Wheat</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox (click)="addAllergen('SBN')">Soybean</mat-checkbox>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <button *ngIf="createDietPlan" mat-raised-button type="submit" color="primary">Submit Plan</button>
              <button *ngIf="editDietPlan" mat-raised-button type="submit" color="primary">Update Plan</button>
            </td>
            <td>
              <button mat-raised-button type="button" (click)="deleteDietplan()" color="warn">Delete Diet Plan</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
