<div class="kalorific-container">
  <mat-card>
    <mat-card-title>
      Login into Kalorific
    </mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #dietPlanForm="ngForm">
        <table>
          <tr>
            <td><label>Email</label></td>
            <td>
              <mat-form-field>
                <input matInput type="email" id="email" name="email" [(ngModel)]="email">
                <mat-hint>Please enter registered email</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><label>Password</label></td>
            <td>
              <mat-form-field>
                <input matInput type="password" id="password" name="password" [(ngModel)]="password">
                <mat-hint>Please enter password</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;">
              <button type="submit" mat-raised-button color="primary">Submit</button>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;">
              <p>New to Kalorific? Please click below to register</p>
              <a [routerLink]="['/registrationForm']" color="white" class="btn btn-link">Register</a>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
