<div>
  <h3>{{mode}} Recipe Form</h3>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field>Recipe Name
      <input matInput placeholder={{recipeName}} id="recipeName" [(ngModel)]=" recipeName" name="recipeName">
    </mat-form-field>
    <mat-form-field>Items Needed
      <input matInput placeholder={{items}} id="items" [(ngModel)]=" items" name="items">
    </mat-form-field>
    <mat-form-field>Directions
      <input matInput placeholder={{directions}} id="directions" [(ngModel)]=" directions" name="directions">
    </mat-form-field>
    <p>
      <button type="submit" mat-raised-button>Submit</button>
    </p>
  </form>
</div>
