<mat-card>
  <mat-card-title>
    User Registration
  </mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #dietPlanForm="ngForm">
      <table>
        <tr>
          <td><label>First Name</label></td>
          <td>
            <mat-form-field>
              <input matInput type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
              <mat-hint>Please enter your First Name</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><label>Last Name</label></td>
          <td>
            <mat-form-field>
              <input matInput type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
              <mat-hint>Please enter your Last Name</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><label>Date of Birth</label></td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="dateOfBirthDatePicker" name="dateOfBirth"
                id="dateOfBirth" [(ngModel)]="dateOfBirth" [max]="maxDateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
              <mat-hint>Pleae enter your Date Of Birth</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><label>Gender</label></td>
          <td>
            <mat-form-field>
              <mat-select id="gender" name="gender" [(ngModel)]="gender" placeholder="Select Gender">
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td><label>Email</label></td>
          <td>
            <mat-form-field>
              <input matInput type="email" id="email" name="email" [(ngModel)]="email">
              <mat-hint>Please enter your Email</mat-hint>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td><label>Password</label></td>
          <td>
            <mat-form-field>
              <input matInput type="password" id="password" name="password" [(ngModel)]="password">
              <mat-hint>Please choose a password</mat-hint>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td><label>Confirm Password</label></td>
          <td>
            <mat-form-field>
              <input matInput type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
              <mat-hint>Please re-confirm password</mat-hint>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <button mat-raised-button type="submit" color="primary">Register</button>
          </td>
        </tr>

      </table>
    </form>
  </mat-card-content>
</mat-card>
