<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div style="text-align:center">
  <div *ngFor ="let recipe of recipes let i = index" style ="border-style: outset;">
    <h4> Recipe Name: <br> {{recipe.recipeName}}</h4>
    <div>
    <div><b>Items Needed:</b> <br> {{recipe.items}}</div>
    <div><b>Directions:</b> <br> {{recipe.directions}}</div>
    </div>
    <button mat-button color="warn" (click)="onDelete(recipe._id)">DELETE</button>
    <button mat-button color="accent" [routerLink]="['/editRecipe', recipe._id]">UPDATE</button>
  </div>
</div>
</div>
