<mat-card class="kal-card">
  <mat-card-header>
    <mat-card-title>{{actionBanner}}</mat-card-title>
    <mat-card-subtitle>{{goal}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="newDietPlan">
      Creating a diet plan helps you to track daily calorie usage and enables to create new meal plans
    </p>
    <p *ngIf="viewDietPlan">
      You planned to {{goal}} {{dietPlan.currentWeight-dietPlan.targetWeight}} by {{dietPlan.targetDate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="newDietPlan">
        <a routerLink="/dietPlanForm" routerLinkActive="active">My New Diet Plan</a>
    </button>
    <button mat-button *ngIf="viewDietPlan">
        <a routerLink="/dietPlanForm" routerLinkActive="active">View My Diet Plan</a>
    </button>
  </mat-card-actions>
</mat-card>
