<div *ngIf="isLoggedIn;else loggedOut">
    <app-diet-plan-info></app-diet-plan-info>
</div>

<ng-template #loggedOut>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="kalorific-container">
      <mat-card>
        <div>
          <p>Kalorific helps you to achieve your diet goals by helping to eat the meals based on your choices. Lose or
            gain weight fast using Kalorific</p>

          Features of Kalorific
          <ul>
            <li>Calories Intake and Burnt Tracker</li>
            <li>Smart Diet Planner</li>
            <li>Smart Meal Recipe Generator</li>
          </ul>
        </div>
      </mat-card>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <app-login-form></app-login-form>
  </mat-grid-tile>
</mat-grid-list>
</ng-template>
